.switch_input {
  height: 0;
  width: 0;
  display: none;
}

.switch_label {
  cursor: pointer;
  width: 30px;
  height: 15px;
  background: grey;
  display: block;
  border-radius: 9999px;
  position: relative;
  @apply bg-orange-gradient;

  @screen tablet {
    width: 47px;
    height: 22px;
  }
  @screen desktop {
    width: 63px;
    height: 30px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 1.5px;
    left: 1px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 9999px;
    transition: 0.3s;

    @screen tablet {
      width: 18px;
      height: 18px;
      top: 2px;
      left: 2px;
    }
    @screen desktop {
      width: 25px;
      height: 25px;
      top: 2.5px;
      left: 3px;
    }
  }
}

// .switch_input:checked + .switch_label {
//   @apply bg-orange-gradient;
// }

.switch_input:checked + .switch_label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);

  @screen tablet {
    left: calc(100% - 3px);
  }
}
